.cookie-message--link, .cookie-message--link:visited {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--cookiemessage--link-border-color, var(--color-london));
}

.cookie-message {
  overflow: hidden;
  box-sizing: border-box;
  min-height: var(--cookiemessage-min-height, 64px);
  padding:
    var(--cookiemessage-vertical-padding, var(--grid-spacing-sheep))
    var(--cookiemessage-horizontal-padding, var(--grid-gutter-s));
  font-family: var(--cookiemessage-font-family, var(--fontfamily-sans));
  font-size: var(--cookiemessage-font-size, var(--text-size-step--2));
  line-height: var(--cookiemessage-line-height, var(--text-line-height-sans-on-step--2));
  background: var(--cookiemessage-background, var(--color-berlin));
}

.cookie-message--close {
  /* Not magic numbers.
   * The icon is supposed to have 1em of height, but it currently has
   * 1em of useless space surrounding it. */
  width: 2em;
  height: 2em;
  fill: var(--cookiemessage--icon-fill, var(--color-beijing));
}

.cookie-message--close-wrapper {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  /* Compensate Icon's white space */
  /* Fat-finger friendliness */
  /* padding:1em offsets it to the sides, pull it back in */
  margin: -1em;
  padding: 1em;
  cursor: pointer;
}

.cookie-message--message-container {
  position: relative;
  padding-right: var(--cookiemessage--container-padding, var(--grid-spacing-donkey));
}

@media screen and (min-width: 1024px) {
  .cookie-message--message-container {
    /* Vertically align the cookie message. */
    top:
      calc(
          var(--cookiemessage-min-height, 64px) / 2 -
          var(--cookiemessage-vertical-padding, var(--grid-spacing-sheep)) -
          0.5em *
          var(--cookiemessage-line-height, var(--text-line-height-sans-on-step--2))
        );
  }
}

.cookie-message__link--temporary-cookie-preferences {
  display: none;
}

.cookie-message--link-preferences :only-of-type {
  display: inline;
}

.cookie-message--link:hover {
  color: var(--cookiemessage-link-hover, var(--color-chicago));
  border-bottom: none;
}

.cookie-message--close-wrapper:hover .cookie-message--close {
  fill: var(--cookiemessage-link-hover, var(--color-chicago));
}
